.form-field {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.3);
  border: none; /* 移除表单字段的边框 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0; /* 移除内边距 */
}

.form-field.editing {
  background-color: rgba(0, 0, 255, 0.3);
}

.form-field .field-key {
  font-weight: bold;
  color: #333;
  word-break: break-word;
  text-align: center;
  width: 100%;
  height: 100%; /* 使文本区域填满整个字段 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-field .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; /* 确保删除按钮在最上层 */
}

.form-field:hover .delete-button {
  opacity: 1;
}

.form-field input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: inherit;
  border: none;
  background: transparent;
  text-align: center;
}

/* 添加新的样式用于选择框 */
.selection-box {
  position: absolute;
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
  pointer-events: none;
  box-sizing: border-box;
}

/* 移除了 .form-field button 相关的样式 */
